@media (orientation: landscape) {
  /* При горизонтальной ориентации сайта*/
  *{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  font-size: 12pt;
  }
  h1{
  color: navy;
  font-size: 16pt;
  margin: 0 0 30px 0;
  }
  body{  
    background: #f0f0f0;
  }
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 40px 30% 0 30%;
    padding: 20px 10px 20px 10px;
    background: white;
    border-radius: 10px;
  }
  #bus_info{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 0 30px 0;
    
  }
  #bus_photo{
    width:100%;
    height: auto;
    min-height: 400px;
    background-size: cover;  /* растягиваем, чтобы покрыть весь блок */
    background-repeat: no-repeat;  /* отключаем повторение */
    background-position: center;
    margin: 0 0 20px 0;
    border-radius: 6px;
    
  }
}

@media (orientation: portrait) {
  /* При вертикальной ориентации сайта*/
  *{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  font-size: 32pt;
  }
  h1{
  color: navy;
  font-size: 48pt;
  margin: 0 0 30px 0;
  }
  body{  
    background: white;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 20px 0 20px 0;
  }
}

