@media (orientation: landscape) {
  /* При горизонтальной ориентации сайта*/
  *{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  font-size: 12pt;
  }
  h1{
  color: navy;
  font-size: 16pt;
  margin: 0 0 30px 0;
  }
  body{  
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .container{
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 40px 0 0 0;
    padding: 20px 5% 20px 5%;
    background: white;
    border-radius: 10px;
    border:0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  }
  #bus_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 30px;
    
  }
  #bus_photo_container{
    width: 100%;
    height: auto;
    max-height: 40vh;
    display: flex;
    alignItems:center;
    margin: 0 0 20px 0;
        
  }
  #bus_photo{
    width: 100%;
    height: auto;
    max-height: 40vh;
    border-radius: 6px;
  }
  #myForm{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  #garage_number{
    display: none;
  }



    .full-stars {
    text-align: center;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    margin: 2px;
    height: 40px;
    width: 40px;
    fill: #ffd500;
    stroke: black;
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: #fff38a;
    stroke: black;
}
.full-stars .rating-group:hover label svg {
    fill: #ffd500;
    stroke: black;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #fff38a;
    stroke: black;
}
}

@media (orientation: portrait) {
  /* При вертикальной ориентации сайта*/
  *{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  font-size: 28pt;
  }
  h1{
  width:100%
  color: #243678;
  font-size: 3vh;
  text-align: center;
  margin: 0 0 40px 0;
  }
  .text-block{
    font-size: 2vh;
    text-align: left;
    margin: 0 0 20px 0;
  }
  body{  
    background: white;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 20px 5% 20px 5%;
  }
  
  #bus_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 20px 0 30px 0;
    
  }
  #bus_photo_container{
    width: 100%;
    height: auto;
    max-height: 30vh;
    display: flex;
    alignItems:center;
    margin: 0 0 20px 0;        
  }
  #bus_photo{
    width: 100%;
    height: auto;
    max-height: 30vh;
    border-radius: 14px;
  }
  
  #myForm{
    font-size: 2vh;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  #garage_number{
    display: none;
  }
  .full-stars {
    text-align: center;
    margin: 10px 0 50px 0;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    margin: 15px;
    height: 100px;
    width: 100px;
    fill: #ffd500;
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: #e1e4ed;
}
.full-stars .rating-group:hover label svg {
    fill: #ffd500;
}
.full-stars .rating-group input:hover ~ label svg {
    fill:#e1e4ed;
}
 .review_text_box{
     width:100%;
     border: 3px solid #c5c7d1;
     height: 15vh;
     border-radius: 14px;     
     text-align: left;
     vertical-align: top;
     padding: 30px;
     line-height: 1.2;
     resize: none;
 }
  #myForm button{
      margin: 5vh 0 10vh 0;
      background: #243678;
      color: white;
      padding: 40px 15% 40px 15%;
      opacity: 1;
      transition: opacity 0.2s;
      border: none;
      border-radius: 14px;  
  }
  #myForm button:hover{
      opacity: 0.8;
  }
}

